@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,600&display=swap');
* {
    font-family: 'sorce sans', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btn-1 {
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 300px 0 0 0 #f9e506;
    cursor: pointer;
    color: #25252A;
}

/* second button*/

.btn-2 {
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid #42FBF2;
    position: relative;
    z-index: 1;
}

.btn-2:hover {
     box-shadow: inset 300px 0 0 0 #42FBF2;
     cursor: pointer;
     color: #25252A;
     }